CREATE DATABASE test;
USE test;
CREATE TABLE logs (
    id INT AUTO_INCREMENT PRIMARY KEY,
    date DATE,
    purpose VARCHAR(255)
);
INSERT INTO logs VALUES
(data, purpose) VALUES ('2024-12-11', 'hello');